<nav class="navbar navbar-custom p-1" style="z-index: 4; position: fixed; top: 10px; left: 10px;">
    <a href="/logout">
        <img src="/img/arrow-left.svg" alt="Retroceder" style="cursor: pointer;"
            title="Retroceder">
    </a>
</nav>